:root {
  --color-beast: #ffec51;
  --color-aqua: #ffffff;
  --color-bird: #ff8d97;
  --color-bug: #f33d5c;
  --color-plant: #89db75;
  --color-reptile: #ef93ff;

  --color-outline-beast: #733217;
  --color-outline-aqua: #005071;
  --color-outline-bird: #8e1a4f;
  --color-outline-bug: #881f2b;
  --color-outline-plant: #295107;
  --color-outline-reptile: #593070;

  --color-white: #fef3bb;
  --color-maroon: #791b29;
  --color-orange-dark: #d9730a;
  --color-orange: #eb8f19;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
